body {
  font-family: Arial, sans-serif;
  background-color: rgb(252, 249, 249);
  padding: 40px;
 
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgb(30, 9, 219);
}








.label-cell {
  width: 90px;
  font-weight: bold;
  background-color: aqua;
}

input, textarea {
  width: 95%;
  border: 1px solid #060707;
  padding: 4px;
  font-size: 14px;
}

textarea {
  resize: none;
}

.center-btn {
  text-align: center;
  padding-top: 10px;
  background-color: #2f8857;
}

button {
  border: 1px solid #b30000;
  background-color: #c3b6b6;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #d51010;
}