p {
    color: green;
    font-weight: bold;
    border: 1px solid black
    

 
  }

  .highlight {
      background-color: yellow;
       padding: 5px;
  }

  #main-title {
    font-size: 24px;
    color: blue;
  }
  .myButton {
    color: rgb(21, 192, 41); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 4px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }
    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
      }
  
      th, td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
      }
  
      th {
        background-color: #0078D7;
        color: white;
      }
  
      tr:hover {
        background-color: #f2f2f2;
      }
  
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 8px;
      }
  
      a {
        color: #0078D7;
        text-decoration: none;
      }
      .titles{
        color: white;
        background-color: blue;
        text-align: center;

      }
      .rows
      {
        background-color: skyblue;
        color: lightblue;
        font-size: 30px;

      }
      .youtubeLink:hover
      {
        color: red;

      }
